.form{
    margin: 0 auto;
    width: 80%;
    background-color: rgb(49, 148, 148);
    color: white;
    padding: 20px;
}
.comments{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}